[submodule "dxvk-remix"]
	path = dxvk-remix
	url = https://github.com/NVIDIAGameWorks/dxvk-remix/
[submodule "bridge-remix"]
	path = bridge-remix
	url = https://github.com/NVIDIAGameWorks/bridge-remix.git
